.rootWindow {
    -fx-background-color: black;
}

.sceneSwitchButtons {
    -fx-background-color: ED008C;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.textStyle {
    -fx-text-fill: white;
}

.mainInterface {
    -fx-border-style: solid;
    -fx-border-color: ED008C;
}